@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lexend:300&display=swap);
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:700&display=swap);



@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-SemiboldItalic.woff2") format("woff2"), url("../fonts/Gilroy-SemiboldItalic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

[class*=_icon-]:before {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
	display: block;
}

._icon-f:before {
	content: "\e900";
	color: #e8e8e8;
}

._icon-i:before {
	content: "\e901";
	color: #e8e8e8;
}

._icon-in:before {
	content: "\e902";
	color: #e8e8e8;
}

._icon-t:before {
	content: "\e903";
	color: #e8e8e8;
}

._icon-y:before {
	content: "\e904";
	color: #e8e8e8;
}

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	color: #e8e8e8;
	line-height: 1;
	font-family: "Work Sans", sans-serif;
	font-size: 1rem;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
	font-family: "Work Sans", sans-serif;
	font-size: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #272727;
	z-index: 1000;
}

.preloader__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.preloader__dody {
	width: 3.125rem;
	height: 3.125rem;
}

.preloader__dody img {
	width: 100%;
}

body {
	background: #272727;
	overflow: hidden;
}

.lock body {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
}

.loaded body {
	overflow: visible;
}

.loaded body .preloader {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s ease 1s;
	-o-transition: all 0.5s ease 1s;
	transition: all 0.5s ease 1s;
}

.wrapper {
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
	padding-right: 3.5rem;
	padding-left: 3.5rem;
}

.wrapper>main {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.wrapper>* {
	min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
	max-width: 69.375rem;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	margin: 0 auto;
}

/*==========================*/

body::after {
	content: "";
	background: rgba(39, 39, 39, 0.9);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: opacity 0.8s ease 0s;
	-o-transition: opacity 0.8s ease 0s;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 400;
}

body.popup-show::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	-webkit-transition: visibility 0.8s ease 0s;
	-o-transition: visibility 0.8s ease 0s;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	z-index: 450;
	pointer-events: none;
}

.popup_show {
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}

.popup_show .popup__content {
	visibility: visible;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.popup__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 100%;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	align-items: center;
}

.popup__content {
	visibility: hidden;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: -webkit-transform 0.3s ease 0s;
	transition: -webkit-transform 0.3s ease 0s;
	-o-transition: transform 0.3s ease 0s;
	transition: transform 0.3s ease 0s;
	transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
	background-color: #eee;
	padding: 20px;
	width: 100%;
	max-width: 900px;
	border-radius: 20px;
}

.lock .popup__content {
	visibility: visible;
}

.consultation .popup__content {
	position: relative;
	max-width: 58.125rem;
	height: 35rem;
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
	padding-left: calc(0rem + 6.25 * (100vw - 20rem) / 100);
	padding-right: calc(0rem + 6.25 * (100vw - 20rem) / 100);
	border-radius: 0;
	background: transparent;
}

.consultation .popup__content .close {
	position: absolute;
	top: 0;
	right: 0;
	width: 1.875rem;
	height: 1.875rem;
}

.consultation .popup__content .popup__close {
	position: relative;
	width: 100%;
	height: 100%;
}

.consultation .popup__content .popup__close::before,
.consultation .popup__content .popup__close::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	content: "";
	background: #fcd54c;
}

.consultation .popup__content .popup__close::before {
	top: calc(50% - 1px);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.consultation .popup__content .popup__close::after {
	bottom: calc(50% - 1px);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.consultation__body {
	width: 100%;
	height: auto;
	padding-top: calc(1.25rem + 2.9375 * (100vw - 20rem) / 100);
	padding-bottom: calc(1.25rem + 2.9375 * (100vw - 20rem) / 100);
	padding-left: calc(1.25rem + 7.375 * (100vw - 20rem) / 100);
	padding-right: calc(1.25rem + 7.375 * (100vw - 20rem) / 100);
	background: #fff;
}

/*=======================*/

.form-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.form-item:not(:last-child) {
	margin-bottom: 1.875rem;
}

.consultation-form__title {
	font-size: calc(1.5rem + 1.5 * (100vw - 20rem) / 100);
	line-height: 59px;
	text-align: center;
	color: #000;
}

.consultation-form__sub-title {
	font-weight: 400;
	font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 100);
	line-height: 23px;
	text-align: center;
	color: #000;
}

.consultation-form .form-item:not(:last-child) {
	margin-bottom: 0.375rem;
}

.consultation-form input {
	border-left: 0;
	border-top: 0;
	border-right: 0;
}

.consultation-form input::-webkit-input-placeholder {
	color: #000;
}

.consultation-form input::-moz-placeholder {
	color: #000;
}

.consultation-form input:-ms-input-placeholder {
	color: #000;
}

.consultation-form input::-ms-input-placeholder {
	color: #000;
}

.consultation-form input::placeholder {
	color: #000;
}

.consultation-form input:focus {
	outline: none;
}

.consultation-form .form-btn {
	margin-top: 3.125rem;
}

.form-title {
	font-family: "Gilroy";
	font-weight: 700;
}

input {
	width: 100%;
	height: 3.125rem;
	border: 1px solid #929292;
}

input::-webkit-input-placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #929292;
}

input::-moz-placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #929292;
}

input:-ms-input-placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #929292;
}

input::-ms-input-placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #929292;
}

input::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #929292;
}

.form-btn {
	width: 13.5rem;
	height: 3.375rem;
}

.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	border-bottom: 1px solid transparent;
	position: relative;
}

._spoller-init .spollers__title {
	cursor: pointer;
}

[class*=-ibg] {
	position: relative;
}

[class*=-ibg] img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
}

[class*=-ibg_contain] img {
	-o-object-fit: contain;
	object-fit: contain;
}

/* Стилей общих элементов проекта */

.btn {
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	padding: 0.75rem 0.875rem;
	background: #fcd54c;
	color: #000;
	white-space: nowrap;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.soc-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

* a {
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

._arrow::before {
	position: absolute;
	font-size: calc(0.875rem + 0.5 * (100vw - 20rem) / 100);
	content: ">";
	top: 1px;
	right: 0;
}

._title-h2 {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 700;
	font-size: calc(1.5rem + 2.875 * (100vw - 20rem) / 100);
	line-height: 99%;
	color: #e8e8e8;
}

._sub-title {
	font-weight: 600;
	font-size: calc(0.75rem + 0.375 * (100vw - 20rem) / 100);
	line-height: 160%;
}

._viev-more {
	position: relative;
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 131%;
	color: #929292;
}

._text-shadow {
	text-shadow: 2px 2px 2px #000;
}

/**
* HEADER
*/

.logo {
	padding-left: calc(0.625rem + 0.3125 * (100vw - 20rem) / 100);
}

.logo__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	height: calc(3.0625rem + 0.875 * (100vw - 20rem) / 100);
	color: #fff;
}

.logo__body::before {
	position: absolute;
	content: "";
	top: 0;
	left: calc(-0.625rem + -0.3125 * (100vw - 20rem) / 100);
	height: 100%;
	width: 2.5rem;
	border: 2px solid #fcd54c;
	border-right: 0;
}

.logo__name {
	font-family: "Gilroy";
	font-weight: 700;
	font-size: calc(1.125rem + 0.625 * (100vw - 20rem) / 100);
	line-height: 1.25;
}

.logo__name-sm {
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
}

.header {
	padding-top: 1.25rem;
	padding-bottom: 1.625rem;
}

.header__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__item:first-child {
	/* отступ с права от 1-го блока до 2-го */
	margin-right: calc(0rem + 9.5625 * (100vw - 20rem) / 100);
}

.header__item:nth-child(2) {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.header__item:last-child {
	/* отступ с лева от последнего блока до 2-го */
	margin-left: calc(0rem + 7.4375 * (100vw - 20rem) / 100);
}

.logo,
.header__button,
.language-selection,
.phone {
	z-index: 300;
}

/* Меню */

.menu {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding-right: 0.3125rem;
}

.menu__list {
	font-family: "Gilroy";
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 82.3529411765%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: calc(0.625rem + 2.6875 * (100vw - 20rem) / 100);
}

.menu__list>li {
	position: relative;
}

.menu__list>li._nested-list {
	/* Класс _nested-list добавляется если есть второй уровень меню */
	padding-right: 0.9375rem;
}

.menu__list>li._nested-list::before {
	font-size: 0.625rem;
	position: absolute;
	right: 0;
	bottom: 0.0625rem;
	content: "▼";
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.menu__list>li.active>a {
	/* Класс active добовляется когда браузер мобильный */
	color: #fcd54c;
}

.menu__list>li.active::before {
	/* Класс active добовляется когда браузер мобильный */
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.menu__list>li>a {
	/* Ссылки первого уровня меню */
	text-transform: uppercase;
}

.menu__list>li>a::after {
	position: absolute;
	left: 0;
	bottom: -0.3125rem;
	width: 100%;
	height: 0.125rem;
	content: "";
	background: transparent;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.menu__list>li>ul {
	/* Второй уровень меню */
	position: absolute;
	top: 0;
	left: 0;
	width: 15.4375rem;
	padding-top: 0.9375rem;
	font-size: 0.875rem;
	line-height: 82.3529411765%;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	z-index: 5;
}

.menu__list>li>ul li {
	border: 1px solid #979797;
}

.menu__list>li>ul li:not(:last-child) {
	border-bottom: 0;
}

.menu__list>li>ul li a {
	/* Ссылки второго уровня меню */
	display: block;
	width: 100%;
	height: 100%;
	padding: 0.5625rem 1.25rem;
	background: #272727;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.menu__list>li>ul.active {
	/* Класс active добовляется когда браузер мобильный */
	display: block;
	opacity: 1;
	visibility: visible;
}

.menu__footer {
	display: none;
	padding-top: 2.375rem;
	margin-top: 3.3125rem;
	border-top: 1px solid #fcd54c;
}

.menu__footer-btn,
.menu__footer-phone,
.menu__footer-language {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.menu__footer-btn .btn {
	padding: 0;
	width: 10.3125rem;
	height: 2.5625rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.menu__footer-language .language-selection {
	margin-right: 0;
}

/* Выбор языка */

.language-selection {
	margin-right: 3.3125rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 0.5rem;
}

.language-selection__item {
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 82.3529411765%;
	text-transform: uppercase;
	color: #929292;
}

.language-selection__item.active {
	color: #fcd54c;
}

.phone {
	font-family: "Gilroy";
	font-weight: 600;
	font-size: 1rem;
	line-height: 80%;
	white-space: nowrap;
}

/* Burger */

.icon-menu {
	display: none;
	margin-left: 1.25rem;
}

/* Main screen
Первый экран */

.main-slider {
	position: relative;
}

.main-slider__headline {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 5vh;
	z-index: 1;
}

.main-slider .soc-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 1.25rem;
	position: absolute;
	top: calc(0.75rem + 1.75 * (100vw - 20rem) / 100);
	right: 1.25rem;
	z-index: 2;
}

.main-slider .soc-bar__icon {
	font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 100);
}

.heading {
	position: relative;
	padding-top: calc(0.9375rem + 1.875 * (100vw - 20rem) / 100);
	padding-bottom: calc(0.625rem + 2.5 * (100vw - 20rem) / 100);
	padding-left: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 100);
}

.heading::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 7.8125rem;
	width: calc(3.9375rem + 3.875 * (100vw - 20rem) / 100);
	height: 100%;
	border: 4px solid #fcd54c;
	border-right: 0;
}

.heading p {
	font-style: normal;
	font-weight: 400;
	font-size: calc(0.625rem + 0.375 * (100vw - 20rem) / 100);
	line-height: 19px;
	text-transform: uppercase;
}

.heading__button {
	position: relative;
	font-weight: 700;
	font-size: calc(0.75rem + 0.5 * (100vw - 20rem) / 100);
	line-height: 23px;
	padding-right: 1.25rem;
}

.main-title {
	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 700;
	font-size: calc(1.875rem + 4.125 * (100vw - 20rem) / 100);
	line-height: 104%;
	margin-top: calc(0.4375rem + 0.9375 * (100vw - 20rem) / 100);
	margin-bottom: calc(1.25rem + 0.9375 * (100vw - 20rem) / 100);
	text-transform: capitalize;
}

.main-title span {
	color: #fcd54c;
}

/* Слайдер */

.slider-main__slide {
	min-height: 90vh;
}

/* Счётчик слайдов */

.slide-counter {
	position: absolute;
	bottom: 0;
	right: 0;
	width: calc(21.875rem + 40.625 * (100vw - 20rem) / 100);
	height: calc(5rem + 4.375 * (100vw - 20rem) / 100);
	background: #272727;
}

.slide-counter__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	height: 100%;
	padding: 0.625rem 0;
}

.slide-counter__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: calc(0.625rem + 1.5625 * (100vw - 20rem) / 100);
}

.slide-counter__item.swiper-pagination-bullet-active .slide-counter__count {
	color: #fcd54c;
}

.slide-counter__count {
	font-family: "Gilroy";
	font-weight: 700;
	font-size: calc(2.1875rem + 1.5625 * (100vw - 20rem) / 100);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.slide-counter__text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	font-weight: 600;
	font-size: calc(0.625rem + 0.375 * (100vw - 20rem) / 100);
	line-height: 1.7333333333;
}

.slide-counter__item {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 0.3125rem;
}

.slide-counter__count {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/* Latest projects 
Последнии проэкты */

.latest-projects__title {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 700;
	font-size: calc(1.5rem + 1.5 * (100vw - 20rem) / 100);
	line-height: 144%;
}

.projects-header {
	margin-bottom: calc(0.625rem + 4.375 * (100vw - 20rem) / 100);
	margin-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 100);
}

.projects-header__container {
	padding-left: 0;
	padding-right: 0;
}

.projects-header__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: end;
}

.projects-header__filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 1.875rem;
	padding-bottom: 0.75rem;
}

.projects-header__filter ._viev-more {
	font-style: italic;
}

/* Элементы управления фильтром */

.filter-item {
	font-weight: 600;
	font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 100);
	line-height: 131%;
	/* Скрываем элементы управления фильтром на сенсорных экранах */
	display: none;
}

.filter-item.active {
	color: #fcd54c;
}

/* Слайдер последнии проэкты */

.latest-projects__slide {
	position: relative;
	width: calc(8.75rem + 18.125 * (100vw - 20rem) / 100);
	height: calc(12.5rem + 23.125 * (100vw - 20rem) / 100);
}

.latest-projects__pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 1.0625rem;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: calc(1.25rem + 5 * (100vw - 20rem) / 100);
}

.latest-projects__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
	min-width: 0.8125rem;
	height: 0.8125rem;
	border-radius: 50%;
	background: #929292;
}

.latest-projects__pagination.swiper-pagination-bullets .swiper-pagination-bullet-active {
	background: #fcd54c;
}

/* Вид объекта */

.type-object {
	position: absolute;
	left: 1.875rem;
	bottom: 0.3125rem;
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 700;
	font-size: calc(1.25rem + 0.75 * (100vw - 20rem) / 100);
	line-height: 141%;
	text-shadow: 2px 2px 2px #000;
	z-index: 10;
}

.card-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: calc(0.9375rem + 1.875 * (100vw - 20rem) / 100);
	padding-right: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 100);
	padding-bottom: 2.8125rem;
	padding-left: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 100);
	background: rgba(39, 39, 39, 0.5);
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.card-cover__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	color: #ffffff;
	text-shadow: 2px 2px 2px #000;
}

.card-cover__title {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 700;
	font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 100);
	line-height: 141%;
}

.card-cover__text {
	font-weight: 400;
	font-size: calc(0.875rem + 0.5 * (100vw - 20rem) / 100);
	line-height: 118%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.card-cover__more {
	position: relative;
	font-weight: 700;
	font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 100);
	line-height: 23px;
	padding-right: 1.25rem;
}

/* Оur expertise
Наш опыт */

.our-expertise {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-top: 4.375rem;
	padding-bottom: calc(2.5rem + 3.125 * (100vw - 20rem) / 100);
}

.our-expertise__body {
	width: 100%;
	max-width: 45.625rem;
}

.our-expertise__sub-title {
	color: #fcd54c;
}

.our-expertise__title {
	margin-top: calc(0.625rem + 1.875 * (100vw - 20rem) / 100);
	margin-bottom: calc(0.625rem + 1.4375 * (100vw - 20rem) / 100);
}

.our-expertise__text {
	font-weight: 400;
	font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 100);
	line-height: 160%;
}

/* Стили для видео */

.video-section {
	position: relative;
	width: 100%;
	/* Соотношение сторон плеера 16:9 */
	padding-top: 56.25%;
}

.video-section__body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-js {
	width: 100%;
	height: 100%;
}

.video-js .vjs-poster {
	background-size: cover;
	width: 100%;
	height: 100%;
}

.video-js .vjs-big-play-button {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border: none;
	background: #fcd54c;
	color: #272727;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder::before {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.fifth-block {
	margin-top: calc(2.5rem + 4.875 * (100vw - 20rem) / 100);
	margin-bottom: calc(2.5rem + 4.875 * (100vw - 20rem) / 100);
}

/* Цитата */

.quotes {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 400;
	font-size: calc(1rem + 0.875 * (100vw - 20rem) / 100);
	line-height: 160%;
	padding-top: calc(1.25rem + 3.125 * (100vw - 20rem) / 100);
	padding-right: calc(1.25rem + 4.6875 * (100vw - 20rem) / 100);
	padding-bottom: calc(1.25rem + 3.125 * (100vw - 20rem) / 100);
	padding-left: calc(1.25rem + 4.6875 * (100vw - 20rem) / 100);
	margin-bottom: calc(2.5rem + 1.5 * (100vw - 20rem) / 100);
	border: 1px solid #fcd54c;
}

.quotes span {
	color: #fcd54c;
}

.slide__img {
	height: calc(12.125rem + 7.375 * (100vw - 20rem) / 100);
	margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 100);
}

.slide__trxt {
	font-style: normal;
	font-weight: 400;
	font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 100);
	line-height: 160%;
	color: #e8e8e8;
}

.about__more {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 1.25rem;
	margin-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 100);
	padding-top: 1.25rem;
}

.about__more::before {
	position: absolute;
	top: 0;
	left: calc(50% - 5.625rem);
	width: 11.25rem;
	border-top: 1px solid rgba(252, 214, 76, 0.4117647059);
	content: "";
}

.more__item {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #fcd54c;
}

.more__item::before {
	font-size: 1.5rem;
	color: #272727;
}

.more__item_next::before {
	content: "˂";
}

.more__item_prev::before {
	content: "˃";
}

/* Сontact us block
Блок контактов */

.contact-us-block {
	height: calc(16.25rem + 8.75 * (100vw - 20rem) / 100);
	overflow: hidden;
	margin-left: -3.5rem;
	margin-right: -3.5rem;
}

.contact-us-block img {
	-webkit-filter: grayscale(100%) brightness(40%);
	filter: grayscale(100%) brightness(40%);
}

.contact-us-block__body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(252, 214, 76, 0.7);
}

.contact-us-block__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.form-contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.form-contact__sub-title {
	color: #272727;
}

.form-contact__title {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 700;
	font-size: calc(3.125rem + 4.375 * (100vw - 20rem) / 100);
	line-height: 69px;
	color: #272727;
}

.form-contact__item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: calc(17.5rem + 11.875 * (100vw - 20rem) / 100);
	height: calc(2.5rem + 1.25 * (100vw - 20rem) / 100);
	margin-top: calc(1.875rem + 1.5 * (100vw - 20rem) / 100);
}

.form-contact__input {
	height: 100%;
	padding-left: 2.5rem;
	padding-right: 0.625rem;
	background: #fff;
	border-radius: 0;
	border: none;
}

.form-contact__input:focus {
	outline: none;
}

.form-contact__input::-webkit-input-placeholder {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: rgba(39, 39, 39, 0.5);
}

.form-contact__input::-moz-placeholder {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: rgba(39, 39, 39, 0.5);
}

.form-contact__input:-ms-input-placeholder {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: rgba(39, 39, 39, 0.5);
}

.form-contact__input::-ms-input-placeholder {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: rgba(39, 39, 39, 0.5);
}

.form-contact__input::placeholder {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: rgba(39, 39, 39, 0.5);
}

.form-contact__button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	width: calc(6.625rem + 3.6875 * (100vw - 20rem) / 100);
	height: 100%;
	background: #272727;
	color: #fff;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

/* Useful articles
Полезные статьи */

.useful-articles {
	padding-top: calc(2.5rem + 6.25 * (100vw - 20rem) / 100);
	padding-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 100);
}

.articles__heading {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: end;
	margin-bottom: calc(1.25rem + 4.375 * (100vw - 20rem) / 100);
}

.articles__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 1.875rem;
	gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 100);
}

.articles__item {
	width: 33.3333333333%;
}

.articles__more {
	font-size: calc(0.75rem + 0.5 * (100vw - 20rem) / 100);
}

.article {
	border: 1px solid #fcd54c;
}

.article__image {
	height: calc(13.625rem + 8.25 * (100vw - 20rem) / 100);
}

.article__image .article__title {
	display: none;
}

.article__title {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 700;
	font-size: calc(1.125rem + 0.4375 * (100vw - 20rem) / 100);
	line-height: 140%;
}

.article__cover {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 0.625rem;
	padding: 0.9375rem;
	background: #272727;
}

.article__meta-data {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 0.3125rem;
	font-weight: 400;
	font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 100);
	line-height: 162%;
}

.article__text {
	font-weight: 400;
	font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 100);
	line-height: 162%;
	color: #929292;
}

.article__more {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	padding-right: 1.25rem;
	color: #fcd54c;
}

/* Comment
Комментарии */

.comment {
	position: relative;
	padding-top: calc(2.1875rem + 1.375 * (100vw - 20rem) / 100);
	padding-bottom: calc(2.5rem + 2.9375 * (100vw - 20rem) / 100);
	margin-bottom: calc(3.125rem + 3.75 * (100vw - 20rem) / 100);
}

.comment__slide {
	position: relative;
	padding-top: calc(3.4375rem + 2.8125 * (100vw - 20rem) / 100);
	border: 1px solid #fcd54c;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	opacity: 0.2;
}

.comment__avatar {
	position: absolute;
	left: calc(1.4375rem + 0.5625 * (100vw - 20rem) / 100);
	top: calc(-2.125rem + -1.375 * (100vw - 20rem) / 100);
	width: calc(4.25rem + 2.75 * (100vw - 20rem) / 100);
	height: calc(4.25rem + 2.75 * (100vw - 20rem) / 100);
	border-radius: 50%;
	overflow: hidden;
}

.comment__quotes {
	position: absolute;
	top: calc(1.25rem + 1.25 * (100vw - 20rem) / 100);
	right: calc(1.25rem + 0.9375 * (100vw - 20rem) / 100);
	width: calc(3.125rem + 0.8125 * (100vw - 20rem) / 100);
	height: calc(2.3125rem + 0.5 * (100vw - 20rem) / 100);
}

.comment__slide-body {
	width: 100%;
	height: 100%;
}

.comment__name {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 31px;
}

.comment__employment {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 100);
	line-height: 19px;
	margin-top: calc(0.8125rem + 0.4375 * (100vw - 20rem) / 100);
	margin-bottom: calc(0.5rem + 1.6875 * (100vw - 20rem) / 100);
}

.comment__employment span {
	color: #fcd54c;
}

.comment__content {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 100);
	padding-bottom: calc(1.1875rem + 0.375 * (100vw - 20rem) / 100);
	line-height: 162%;
	color: #929292;
}

.comment__name,
.comment__employment,
.comment__content {
	padding-right: calc(1.25rem + 0.625 * (100vw - 20rem) / 100);
	padding-left: calc(1.25rem + 0.625 * (100vw - 20rem) / 100);
}

.comment__pagination {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 1.0625rem;
}

.comment__pagination .swiper-pagination-bullet {
	width: 0.8125rem;
	height: 0.8125rem;
	border-radius: 50%;
	background: #929292;
}

.comment__pagination .swiper-pagination-bullet-active {
	background: #fcd54c;
}

.comment .swiper {
	overflow: visible;
}

.comment .swiper .swiper-slide-next,
.comment .swiper .swiper-slide-active {
	-webkit-transform: translateY(30px);
	-ms-transform: translateY(30px);
	transform: translateY(30px);
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	opacity: 1;
}

/* faq
Часто задоваемые вопросы */

.faq {
	padding-bottom: calc(3.125rem + 4.5 * (100vw - 20rem) / 100);
}

.faq__heading {
	margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 100);
}

.faq .spollers__item:last-child .spollers__title {
	border-bottom: 1px solid #929292;
}

.faq .spollers__item:last-child .spollers__title._spoller-active {
	border-bottom: 0;
}

.faq .spollers__item:last-child .spollers__body {
	border-bottom: 1px solid #929292;
}

.faq .spollers__title {
	position: relative;
	font-style: normal;
	font-weight: 400;
	font-size: calc(0.75rem + 0.375 * (100vw - 20rem) / 100);
	line-height: 130%;
	padding: 1.25rem 1.875rem 1.25rem 0;
	border-top: 1px solid #929292;
}

.faq .spollers__title::before,
.faq .spollers__title::after {
	content: "";
	position: absolute;
	right: 10px;
	top: calc(50% - 3px);
	width: 14px;
	height: 2px;
	background: #fcd54c;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.faq .spollers__title::before {
	-webkit-transform: rotate(45deg) translateY(-7px);
	-ms-transform: rotate(45deg) translateY(-7px);
	transform: rotate(45deg) translateY(-7px);
}

.faq .spollers__title::after {
	-webkit-transform: rotate(-45deg) translateY(7px);
	-ms-transform: rotate(-45deg) translateY(7px);
	transform: rotate(-45deg) translateY(7px);
}

.faq .spollers__title._spoller-active::before {
	-webkit-transform: rotate(45deg) translate(0, 7px);
	-ms-transform: rotate(45deg) translate(0, 7px);
	transform: rotate(45deg) translate(0, 7px);
}

.faq .spollers__body {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 160%;
	padding-right: calc(0.625rem + 3.4375 * (100vw - 20rem) / 100);
	padding-left: calc(0.625rem + 3.4375 * (100vw - 20rem) / 100);
	padding-bottom: calc(0.625rem + 1.875 * (100vw - 20rem) / 100);
	color: #e8e8e8;
}

/* Footer
Подвал */

/*=================================*/

.footer__body {
	padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 100);
	padding-bottom: calc(1.875rem + 3.75 * (100vw - 20rem) / 100);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-left: none;
	border-right: none;
}

.footer__logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 100);
}

.footer .spollers {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	row-gap: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 100);
	color: #e8e8e8;
}

.footer .spollers__item {
	width: 20%;
}

.footer .spollers__item ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 1.25rem;
}

.footer .spollers__title {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}

.footer .spollers__body {
	font-weight: 300;
	font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 100);
	line-height: 21px;
	padding-top: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 100);
}

.footer .spollers__body .footer-btn {
	margin-top: 2.5rem;
}

.footer ._spoller-init .spollers__title-arrow::before,
.footer ._spoller-init .spollers__title-arrow::after {
	content: "";
	position: absolute;
	right: 10px;
	top: 50%;
	background-color: #929292;
	height: 2px;
	width: 10px;
	-webkit-transition: -webkit-transform 0.2s ease 0s;
	transition: -webkit-transform 0.2s ease 0s;
	-o-transition: transform 0.2s ease 0s;
	transition: transform 0.2s ease 0s;
	transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
}

.footer ._spoller-init .spollers__title-arrow::before {
	-webkit-transform: translate(-75%, -50%) rotate(40deg);
	-ms-transform: translate(-75%, -50%) rotate(40deg);
	transform: translate(-75%, -50%) rotate(40deg);
}

.footer ._spoller-init .spollers__title-arrow::after {
	-webkit-transform: translate(0, -50%) rotate(-40deg);
	-ms-transform: translate(0, -50%) rotate(-40deg);
	transform: translate(0, -50%) rotate(-40deg);
}

.footer ._spoller-init .spollers__title-arrow._spoller-active::before {
	-webkit-transform: translateX(-75%) rotate(-40deg);
	-ms-transform: translateX(-75%) rotate(-40deg);
	transform: translateX(-75%) rotate(-40deg);
}

.footer ._spoller-init .spollers__title-arrow._spoller-active::after {
	-webkit-transform: rotate(40deg);
	-ms-transform: rotate(40deg);
	transform: rotate(40deg);
}

.bottom-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
}

.bottom-bar__item span {
	font-family: "Lexend";
	font-style: normal;
	font-weight: 300;
	font-size: calc(0.75rem + 0.375 * (100vw - 20rem) / 100);
	line-height: 160%;
	color: #e8e8e8;
}

.bottom-bar .soc-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 1.875rem;
}

.bottom-bar .soc-bar a::before {
	font-size: 1.125rem;
}

.swiper {
	overflow: hidden;
}

.swiper-wrapper {
	width: 100%;
	height: 100%;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.swiper-vertical .swiper-wrapper {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.swiper-initialized .swiper-slide {
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
	-webkit-transform: translate3d(0px, 0, 0);
	transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
	display: none !important;
}

@media (min-width: 47.99875em) {

	.footer .spollers__item:nth-child(3),
	.footer .spollers__item:nth-child(4),
	.footer .spollers__item:last-child {
		padding-left: calc(3.125rem + 1.875 * (100vw - 20rem) / 100);
	}
}

@media (min-width: 69.375em) {
	.consultation-form__sub-title {
		margin-bottom: 2rem;
	}

	.video-js .vjs-big-play-button {
		font-size: 3.125rem;
	}

	.video-js .vjs-big-play-button {
		width: 7.625rem;
	}

	.video-js .vjs-big-play-button {
		height: 7.625rem;
	}
}

@media (max-width: 48em) {
	.wrapper {
		padding-right: 2.25rem;
		padding-left: 2.25rem;
	}

	.video-section {
		width: calc(100% + 4.5rem);
		margin-right: -2.25rem;
		margin-left: -2.25rem;
	}
}

@media (max-width: 20em) {
	.consultation-form__sub-title {
		margin-bottom: 1.25rem;
	}

	.video-js .vjs-big-play-button {
		font-size: 0.875rem;
	}

	.video-js .vjs-big-play-button {
		width: 2.125rem;
	}

	.video-js .vjs-big-play-button {
		height: 2.125rem;
	}
}

@media (max-width: 76.5625em) {
	.heading {
		margin-left: 1.25rem;
	}
}

@media (max-width: 74.99875em) {
	.footer .spollers__item {
		width: 25%;
	}
}

@media (max-width: 69.375em) {
	.header__item:first-child {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
	}

	.header__item:nth-child(2) {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}

	.menu__list>li>ul {
		position: static;
		width: 100%;
		display: none;
	}

	.menu__list>li>ul li {
		border: 0;
	}

	.menu__list>li._nested-list::before {
		font-size: 0.875rem;
		bottom: calc(100% - 2.5rem);
	}

	.menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		position: fixed;
		top: -120%;
		left: 0;
		width: 100%;
		height: 100%;
		padding-bottom: 1.875rem;
		padding-top: calc(5.625rem + 1.25 * (100vw - 20rem) / 100);
		padding-right: calc(2.25rem + 1.25 * (100vw - 20rem) / 100);
		padding-left: calc(2.25rem + 1.25 * (100vw - 20rem) / 100);
		background: #272727;
		z-index: 200;
		overflow-y: auto;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}

	.menu-open .menu {
		top: 0;
	}

	.menu__list {
		font-size: 36px;
		line-height: 44px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.icon-menu {
		display: block;
		position: relative;
		width: 25px;
		height: 14px;
		cursor: pointer;
		z-index: 300;
	}

	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		left: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		background: #fff;
	}

	.icon-menu::before {
		top: 0px;
	}

	.icon-menu::after {
		bottom: 0px;
	}

	.icon-menu span {
		top: calc(50% - 1px);
	}

	.menu-open .icon-menu span {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	}

	.menu-open .icon-menu::before {
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: calc(50% - 1px);
	}

	.menu-open .icon-menu::after {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		bottom: calc(50% - 1px);
	}

	.comment__slide {
		opacity: 1;
	}

	.comment .swiper {
		overflow: hidden;
		padding-top: calc(2.25rem + 1.375 * (100vw - 20rem) / 100);
	}

	.comment .swiper .swiper-slide-next,
	.comment .swiper .swiper-slide-active {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	.footer .spollers__item {
		width: 33.3333333333%;
	}
}

@media (max-width: 47.99875em) {
	.menu__footer {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 2.375rem;
		width: 100%;
	}

	.slider-main__slide {
		min-height: 80vh;
	}

	.slide-counter {
		position: static;
		width: 100%;
		height: 5rem;
	}

	.slide-counter__body {
		padding-bottom: 0;
	}

	.about__more {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.about__more::before {
		width: 100%;
		left: 0;
	}

	.articles__body {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.articles__item {
		width: calc(50% - 0.9375rem);
	}

	.footer .spollers__item {
		width: 100%;
	}

	.footer .spollers__title {
		padding-bottom: 0.9375rem;
		border-color: #3a3a3a;
	}

	.footer .spollers__title._spoller-active {
		border-color: transparent;
	}

	.footer .spollers__title.footer-contacts {
		border-color: transparent;
	}

	.footer .spollers__body {
		padding-bottom: 0.9375rem;
		border-bottom: 1px solid #3a3a3a;
	}

	.footer .spollers__body.footer-contacts {
		border: 0;
	}

	.bottom-bar {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		gap: 0.9375rem;
	}
}

@media (max-width: 29.99875em) {
	.wrapper {
		padding-right: 1.625rem;
		padding-left: 1.625rem;
	}

	.main-slider .soc-bar {
		display: none;
	}

	.slider-main__slide {
		min-height: 70vh;
	}

	.slide-counter {
		height: 5.625rem;
	}

	.projects-header__body {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: start;
		gap: 1.25rem;
	}

	.projects-header__item {
		width: 100%;
	}

	.latest-projects__slide {
		height: 21.875rem;
	}

	.video-section {
		width: calc(100% + 3.25rem);
		margin-right: -1.625rem;
		margin-left: -1.625rem;
	}

	.articles__item {
		width: 100%;
	}

	.footer__logo {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: start;
	}
}

@media (min-width: 20em) and (max-width: 69.375em) {
	.consultation-form__sub-title {
		margin-bottom: calc(1.25rem + 0.75 * (100vw - 20rem) / 49.375);
	}

	.video-js .vjs-big-play-button {
		font-size: calc(0.875rem + 2.25 * (100vw - 20rem) / 49.375);
	}

	.video-js .vjs-big-play-button {
		width: calc(2.125rem + 5.5 * (100vw - 20rem) / 49.375);
	}

	.video-js .vjs-big-play-button {
		height: calc(2.125rem + 5.5 * (100vw - 20rem) / 49.375);
	}
}

@media (any-hover: hover) {
	.btn:hover {
		background: #fac918;
	}

	.soc-bar a:hover::before {
		color: #fcd54c;
	}

	* a:hover {
		color: #fcd54c;
	}

	.menu__list>li:hover>a {
		color: #fcd54c;
	}

	.menu__list>li:hover>a::after {
		background: #fcd54c;
	}

	.menu__list>li:hover::before {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	.menu__list>li:hover ul {
		top: 100%;
		opacity: 1;
		visibility: visible;
	}

	.menu__list>li>ul li a:hover {
		background: #fcd54c;
		color: #000;
	}

	.filter-item {
		/* Показываем элементы управления фильтром если экран не сенсорнй */
		display: block;
	}

	.latest-projects__slide:hover .card-cover {
		opacity: 1;
		visibility: visible;
	}

	.type-object {
		bottom: 1.875rem;
		z-index: 0;
	}

	.card-cover {
		/* Если экран не сенсорный */
		background: #fcd54c;
		opacity: 0;
		visibility: hidden;
	}

	.card-cover__body {
		color: #272727;
		text-shadow: none;
	}

	.card-cover__more:hover {
		color: #535353;
	}

	.form-contact__button:hover {
		background: #383838;
	}

	.article {
		position: relative;
		border: 0;
	}

	.article__image {
		position: relative;
	}

	.article__image .article__title {
		display: block;
	}

	.article__title {
		position: absolute;
		bottom: 3.125rem;
		left: 2.1875rem;
	}

	.article__cover {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 40px 35px;
		background: #272727;
		border: 1px solid #fcd54c;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: 0.2s;
		-o-transition: 0.2s;
		transition: 0.2s;
	}

	.article__cover .article__title {
		position: static;
		margin-top: 0.9375rem;
		margin-bottom: 1.75rem;
	}

	.article__text {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
	}

	.article__more {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}

	.article:hover .article__cover {
		opacity: 1;
		visibility: visible;
	}
}